body{
    background-color: rgb(253, 250, 235);
}

.first{
    background-color: black;
    height: 6em;
    text-align: center;
}


#_header{
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-style: italic;
    font-variant: small-caps;
    color: white;
    top: 0.5em;
}

#nav1 {
    background-color: dimgray;
    width: 70%;
    height: 3em;
}

#nav1 h2{
    position: relative;
    top: 1px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
}

#nav2{
    position: relative;
    top: -3em;
    left: 58.3em;
    background-color: rgba(95, 158, 160, 0.466);
    width: 30%;
    height: 3em;
    box-shadow: 5px 5px 4px gray;
}

#nav2 .hover1{
    position: relative;
    width: 35%;
    height: 1.5em;
    left:30%;
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

#nav2 .hover1 span{
    position: absolute;
    top: 4px;
    left: 6px;
}

#nav3{
    display:none;
}

#nav3 .list{
    list-style: none;
    position: absolute;
    left:-40px;
    top: 10px;
}

#nav3 .list li{
    background-color: rgb(241, 241, 152);
    margin-top: 10px;
    box-shadow: 4px 4px 2px gray;
}

#nav3 .list li:hover{
    position: relative;
    cursor: pointer;
    left: 20px;
    background-color: lavender;
}

#nav2 .hover1:hover{
    cursor: pointer;
    background-color: skyblue;
}

#nav2 .hover1:hover #nav3{
    display: block;
}

.image img{
    position: absolute;
    border: 3px solid black;
    border-radius: 4em;
    left: 4em;
    height: 40em;
    width: 30em;
    filter: drop-shadow(10px 10px 5px gray);
    z-index: 2;
}

.info{
    position: relative;
    top: 5em;
    left: 10em;
    background-color: black;
    width: 50em;
    height: 30em;
    z-index: 1;
    transition: all 2s ease;
    box-shadow: 10px 10px 4px gray;
    border: 10px groove gray;
    opacity: 60%;
}

.info:hover{
    transform: translate(23em);
    opacity: 100%;
}

.info #main_info{
    position: relative;
    left: 0.5em;
    color: white;
    font-family: cursive;
    font-size: 2.7em;
}

.message_form{
    margin-top: 13em;
    background-color: rgba(0, 0, 0, 0.897);
    width: 100%;
    height: 26em;
}

form{
    padding-top: 2em;
}

.message_form form{
    text-align: center;
}

label{
    color: white;
    font-family: cursive;
    font-size: large;
}

.message_form form #label1{
    margin-right: 1em;
}

input{
    width: 20%;
    height: 2em;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 1em;
}

.message_form form #number{
    position: relative;
    right: 1px;
}

.message_form form #email{
    position: relative;
    left: 0.7em;
}

.message_form form #message{
    position: relative;
    left: 1.3em;
    height: 10em;
}

.message_form form #label2{
    position: relative;
    right: 0.9em;
}

.message_form form #label3{
    position: relative;
    right: 0.9em;
}

.message_form form #label4{
    position: relative;
    bottom: 8em;
    left: 2.5em;
}

textarea{
    position: relative;
    left: 5.6em;
    border: 2px solid;
    border-radius: 8px;
    padding: 4px;
}

button{
    position: relative;
    background-color: whitesmoke;
    font-size: large;
    right:0.8em;
    margin-top: 0.5em;
    border: 3px solid gray;
    transition: transform 0.3s ease-in;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

button:active{
    transform: scale(0.5);
}