{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gagan music website</title>
    <link rel="stylesheet" href="{% static 'css/style_web.css' %}" />
  </head>
  <body>
    <div class="first">
      <header id="_header">
        <h1>Garry X Studio</h1>
      </header>
    </div>

    <div id="nav1">
      <h2>Garry On beat</h2>
    </div>

    <div id="nav2">
      <div class="hover1">
        <span
          >Follow Me
          <div id="nav3">
            <ul class="list">
              <li>Facebook</li>
              <li>Instagram</li>
              <li>You Tube</li>
              <li>Tik Tok</li>
            </ul>
          </div>
        </span>
      </div>
    </div>

    <div class="image">
      <img src="{%static 'content/main.jpg' %}" />
    </div>

    <div class="info">
      <p id="main_info">
        Garry X (Gaganveer Singh Matharu) youngest music producer of punjab.
        Music creater.I have already covered music for hundred songs and have an
        experience.I cover music for both punjabi and hindi songs.
      </p>
    </div>

    <div class="message_form">
      <form action="/message" autocomplete="off" method="POST">
        {% csrf_token %}
        <label id="label1">Your Name</label>
        <input id="name" name="username" type="text" required/><br />
        <label id="label2">Your Number</label>
        <input id="number" name="number_" type="number" required/><br />
        <label id="label3">Your Email</label>
        <input id="email" name="email_" type="email" required/><br />
        <label id="label4">Message</label>
        <textarea
          required
          name="my_message"
          style="margin: 0px; height: 154px; width: 383px;">
        </textarea>
        <br />
        <button type="submit">Send Message</button>
      </form>
    </div>
  </body>
</html>
